
header, section, footer, aside, nav, main, article, figure {
  display: block; 
}

* {
  box-sizing: border-box; 
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  font-size-adjust: 0.58;
  margin: 0;
  padding: 0;
}

/* Header */
.head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_content {
  width: 50%;
  padding: 30px 0;
}

#logo {
  text-align: center;
}

/* Navigation menu */
#nav {
  padding-left: 40px;
  padding-top: 40px;
  font-size: 1.25em;
}

#nav a {
  text-decoration: none;
  padding: 14px;
  color: rgb(48, 56, 59);
}

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  min-width: 130px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content a {
  display: block;
  font-size: 1em;
}

.dropdown_content a:hover {
  background-color: rgb(242, 242, 242);
}

.dropdown:hover .dropdown_content {
  display: block;
}

#nav a:hover {
  color: black;
}

#nav a.current {
  color: rgb(199, 217, 82);
}

#cart {
  display: none;
  position: absolute; 
  top: 6px;
  left: 27px; 
  width: 23px;
  height: 23px;
  background-color: rgb(199, 217, 82); 
  color: white;
  font-size: 13px;
  font-weight: bold;
  border-radius: 50%; 
  text-align: center;
  padding-top: 2px;
}

/* Section1 */
#section1 {
  color: white;
  text-align: center;
  position: relative;
}

.hero_container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Store menu */
ul.breadcrumb {
  padding: 100px 0;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 28px;
}
ul.breadcrumb li+li:before {
  padding: 16px;
  color: rgb(116, 122, 125);
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: rgb(116, 122, 125);
  text-decoration: none;
}

ul.breadcrumb li a.current {
  color: rgb(199, 217, 82);
}

/* Section 2*/
#section2 {
  width: 65%;
  margin: auto;
  color: grey;
}

.proizvod {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.proizvod button {
  border: 1px solid rgb(199, 217, 82);
  border-radius: 50px;
  padding: 6px 18px; 
}

.cart_button {
  background-color: rgb(199, 217, 82);
  color: white; 
  font-weight: bold; 
  cursor: pointer;
}

.cart_button:hover {
  background-color: rgb(50, 205, 50);
}

.proizvod a {
  color: rgb(199, 217, 82);
  font-size: 1.2em; 
}

.fa {
 cursor: pointer;
}

.similar-images img {
  max-width: 25%;
  cursor: pointer;
}

.tab {
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-top: 100px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 100px;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 2px solid rgb(199, 217, 82);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 4px 0;
  margin: 10px auto;
  width: 80%;
}

#slicni_proizvodi {
  width: 100%;
  margin: 100px 0;
}

.img_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Newsletter */
#newsletter {
  color: white;
  margin-top: 50px;
  text-align: center;
  position: relative;
}

#newsletter_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

#newsletter_btn {
  border-radius: 50px;
  padding: 6px 40px; 
  background-color: white;
  color: rgb(199, 217, 82);
  font-weight: bold;
  transition: all 0.3s;
}

#newsletter_btn:hover {
  background-color: rgb(242, 242, 242);
  cursor: pointer;
}

#newsletter_form {
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0; 
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.7); 
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

#nform_content {
  display: block;
  background-color: rgb(199, 217, 82);
  width: 60%;
  margin: auto;
  padding: 26px 32px;
}

.container {
  padding: 24px;
  background-color: rgb(241, 241, 241);
}

.forms {
  margin-top: 26px;
}

.sub {
  margin-bottom: 14px;
  padding-bottom: 26px;
}

input[type=text], input[type=submit], input[type=email] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(204, 204, 204);
  box-sizing: border-box;
}

input[type=submit] {
  background-color: rgb(126, 201, 200);
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
  cursor: pointer;
}

.close_form {
  position: absolute;
  right: 55px;
  top: 35px;
  color: white;
  font-size: 50px;
  font-weight: bold;
  transition: all 0.3s;
}

.close_form:hover {
  color: rgb(242, 242, 242);
  cursor: pointer;
}
/* Newsletter form */

/* Footer */
#footer {
  background-color: rgb(48, 56, 59);
  text-align: center;
  padding: 50px 0;
}

#footer_nav {
  width: 70%;
  margin-bottom: 45px; 
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 1em; 
  justify-content: space-around;
}

#footer_nav a {
  text-decoration: none;
  padding: 0 14px; 
}

#footer_prodavnica {
  background-color: rgb(48, 56, 59);
  border: 2px solid rgb(199, 217, 82);
  border-radius: 50px;
  padding: 5px 20px;
  color: rgb(199, 217, 82);
  font-weight: bold;
}

#footer_prodavnica:hover {
  cursor: pointer;
}

#social_media i {
  font-size: 1.2em;
  color: rgb(153, 153, 153);
  padding-right: 18px;
}

#social_media i:hover {
  color: lightgrey;
  cursor: pointer;
}